.container {
  background-color: salmon;
  border: 3px solid black;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px;
}

.container div {
  background-color: lightblue;
  border: 2px solid #09f;
  border-radius: 6px;
}

.container div:first-child {
  background-color: greenyellow;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.container :nth-child(2) {
  background-color: pink;
  grid-column-start: 2;
  grid-column-end: 4;
}
.container :nth-child(3) {
  background-color: orange;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
}
