* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 50px 50px;
  gap: 10px;
  background-color: aqua;
  padding: 20px;
}

.container div {
  background-color: blueviolet;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container div:first-child {
  grid-column: 1/4;
}
