* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: aqua;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 100px 100px;
  gap: 10px;
}

.container div {
  /* background-color: blueviolet; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.color {
  background-color: blueviolet;
}

.container div:nth-child(2) {
  grid-column: 2/4;
}
.container div:nth-child(4) {
  grid-column: 2/4;
}

.container .container_nested {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 50px 50px;
  gap: 5px;
  grid-template-areas:
    "lista1 lista1"
    "lista2 lista3"
    "lista4 lista5";
}

.container_nested div {
  background-color: yellow;
}
.container_nested div:first-child {
  grid-area: lista1;
}

.container_nested div:nth-child(2) {
  grid-area: lista2;
}

.container_nested div:nth-child(3) {
  grid-area: lista3;
}

.container_nested div:nth-child(4) {
  grid-area: lista4;
}

.container_nested div:nth-child(5) {
  grid-area: lista5;
}
