* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 50px);
  background-color: aqua;
  gap: 10px;
}

.container div {
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container div:first-child {
  grid-column: 1/3;
}

.container div:nth-child(2) {
  grid-column: 3/5;
}

.container div:nth-child(3) {
  grid-column: 1/2;
}

.container div:nth-child(4) {
  grid-column: 2/5;
}

.container div:nth-child(5) {
  grid-column: 1/5;
}
