* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: aqua;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 50px 50px;
  gap: 10px;
  padding: 20px;
}

.container div {
  background-color: blueviolet;
  text-align: center;
}
