* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  width: 100%;
  justify-content: center;
  grid-template-columns: 100px repeat(2, 150px);
  grid-template-rows: 50px 50px 50px;
  gap: 10px;
  background-color: aqua;
  padding: 20px;
}

.container div {
  background-color: blueviolet;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container div:first-child {
  grid-column: 1/4;
}

.container :nth-child(2) {
  grid-row: 2/4;
}
